.titleWrapper {
    margin-top: 15%;
    margin-bottom: 10%;
}

.welcomeTitle {
    color: white;
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
}

.username {
    color: white;
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
}

/*BEGINNING OF MAIN SECTION*/

.container {
    position: relative;
    max-width: 80%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 9%;
    margin-bottom: 9%;
    margin: auto;
}

.errorMessage {
    color: red;
    font-size: .8em;
    margin-top: 1%;
}

.container .userDataForm {
    margin-top: 6%;
}

.userDataForm .inputBox {
    width: 100%;
    margin-top: 3%;
}

.userDataForm .inputBox input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    background-color: rgb(56, 54, 54);
    border: 1px solid rgb(56, 54, 54);
    border-radius: 6px;
    padding: 0 2%;
    font-size: 1.2em;
    color: white;
    margin-top: 2%;
}

.userDataForm .inputBox label {
    font-size: 1.3em;
}

.userDataForm .inputBox input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

.userDataForm .column {
    display: flex;
    column-gap: 2%;
}

.userDataForm .buttons {
    display: flex;
    margin-bottom: 5%;
    margin-top: 8%;
    column-gap: 2%;
}

.userDataForm .buttons .buttonSave {
    flex: 1;
    
}

.userDataForm .buttons .buttonLogOut {
    flex: 1;
    
}

.userDataForm .buttons .buttonDelete {
    flex: 1;
    
}

.userDataForm .buttons .buttonSave input {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 0;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
    padding: 1%;
    color: white;
}

.userDataForm .buttons .buttonLogOut input {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 0;
    background: rgb(78, 75, 75);
    border: 1px solid rgb(78, 75, 75);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
    padding: 1%;
    color: white;
}

.userDataForm .buttons .buttonDelete input {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 0;
    background: red;
    border: 1px solid rgb(121, 15, 15);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
    padding: 1%;
    color: white;
}

.userDataForm .buttons .buttonSave input:hover{
    background: #12876f;
}

.userDataForm .buttons .buttonLogOut input:hover{
    background: gray;
}

.userDataForm .buttons .buttonDelete input:hover{
    background: rgb(190, 46, 46);
}

@media  screen and (max-width: 915px) {
    .container {
        margin-top: 10%;
    }
}

/*EBD OF MAIN SECTION*/

/*STYLE OF DELETE DIALOG*/

.customConfirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  
.customConfirmContent {
    background-color: rgb(129, 127, 127);
    padding: 20px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
  
.customConfirmContent p {
    margin: auto;
    margin-bottom: 15%;
    font-size: 1.2em;
}

.buttonDialogDiv {
    display: flex;
    column-gap: 2%;
}

.buttonDialogDiv .buttonDialog {
    flex: 1;
    width: 100%;
    font-size: 1em;
    border: 1px solid rgb(24, 23, 23);
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 2%;
    border-radius: 5px;
}  
  
.buttonDialogDiv .buttonDialog:hover {
    background-color: rgb(51, 50, 50);
    border: 1px solid rgb(51, 50, 50);
}

.custom-confirm-content button {
    margin-right: 2%;
}

/*END*/

/*STYLE SUCCESS MESAGE*/

.successMessage {
    display: none;
    margin: auto;
    background-color: rgb(69, 128, 69);
    width: 20%;
    text-align: center;
    justify-content: center;
    padding: 1%;
}

.successMessage p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 0;
    margin: 2%;
}

/*END*/