
.titleWrapper {
    margin-top: 15%;
    margin-bottom: 10%;
}

.welcomeTitle {
    color: white;
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
}

/*MENU SECTION BEGINNING*/

.menu {
    color: white;
}

.sectionTitle {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1%;
}

hr {
    width:90%;
    text-align:center;
    height: 2px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(182, 154, 27)));
    border: none;
}

.container {
    display: flex;
    padding: 1%;
    background-color: rgb(129, 127, 127);
    margin: 2% 2% 2% 2%;
    border-radius: 20px;
    transition: 0.2s;
}

.container:hover {
    transform: scale(1.02);
}

.leftSection {
    flex: 1;
}

.leftSection img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.rightSection {
    flex: 2;
}

.rightSection h3 {
    margin-top: 0;
    margin-left: 5%;
    font-size: 1.8em;
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    color: black;
}

.rightSection p {
    position: relative;
    margin-left: 5%;
    font-size: 1.2em;
    color: rgb(29, 28, 28);
}

.priceAndOrder {
    flex: 0.5;
    position: relative;
}

.priceAndOrder h3 {
    text-align: center;
    margin-top: 0;
    margin-left: 5%;
    font-size: 1.8em;
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    color: black;
}

.priceAndOrder button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 0;
    color: white;
    background-color: rgb(60, 145, 60);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 4%;
    padding: 3%;
}

.priceAndOrder button:hover{
    background-color: green;
}

@media  screen and (max-width: 915px) {
    .container {
        flex-direction: column;
    }

    .leftSection img {
        margin-bottom: 2%;
    }

    .priceAndOrder h3 {
        text-align: left;
    }

    .priceAndOrder button {
        width: 20%;
        padding: 1%;
        position: absolute;
        right: 5%;
        bottom: 30%;
    }
}

/*MENU SECTION END*/