* {
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*BEGINNING OF NAVIGATION BAR*/

header {
    background: black;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.title {
    float: right;
    font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif;
    font: 40px;
    margin-left: 20px;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    float: left;
}

.navbar a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-left: 20px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 0 0 20px;
    border-radius: 4px;
}

.dropbtn:hover {
    background-color: rgb(92, 86, 86);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dropdown-content a {
    border-radius: 0;
    display: block;
    text-align: left;
    width: 100%;
}

.dropdown-content a:hover {
    background-color:  rgb(92, 86, 86);
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:hover {
    background-color: rgb(92, 86, 86);
}

.active
{
    border-radius: 4px;
    background-color: rgb(92, 86, 86);
}

.signIn
{
    border-radius: 20px;
    background-color: rgb(60, 145, 60);
}

.signIn:hover {
    background-color: green;
}

@media  screen and (max-width: 915px) {
    .title {
        display: none;
    }
}

@media  screen and (max-width: 649px) {
    .navbar a {
        font-size: 0.9em;
    }

    .dropdown .dropbtn  {
        font-size: 0.9em;
    }
}

/*END OF NAVIGATION BAR*/


/*BEGINNING OF PHOTO SLIDER*/

.photoCarusel {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*END OF PHOTO SLIDER*/

hr {
    width:90%;
    text-align:center;
    height: 2px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(182, 154, 27)));
    border: none;
}

/*MIDDLE SECTION*/

.middleSection {
    margin-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.left img {
    max-width: 100%;
    max-height: 100%;
}

.right {
    flex: 2;
    padding: 0;
    margin: 0;
}

.right h1 {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 5em;
}

@media  screen and (max-width: 649px) {
    .right h1 {
        font-size: 2em;
    }
}
/*END MIDDLE SECTION*/

/*BEGINNING LOWER SECTION*/

.lowerSection {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.lowerLeft {
    flex: 2;
    padding: 0;
    margin: 0;
}

.lowerLeft h1 {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translateX(+50%);
    text-align: center;
    color: white;
    font-size: 5em;
}

.lowerRight {
    flex: 1;
}

.lowerRight img {
    max-width: 100%;
    max-height: 100%;
}

@media  screen and (max-width: 649px) {
    .lowerLeft h1 {
        font-size: 2em;
    }
}

/*END LOWER SECTION*/

/*FOOTER*/

footer {
    background: #2a2a2a;
    color: #949494;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 0;
}

.footerContact {
    flex: 1;
    padding: 0;
    margin: 0;
}

.footerContact ul {
    list-style-type: none;
}

.footerContact h2 {
    margin-bottom: 0;
    font-size: 1.2em;
}

.footerContact li {
    font-size: 1em;
    margin-bottom: 8px;
    margin-top: 0;
}

.company {
    flex: 1;
    padding: 0;
    margin: 0;
}

.company h2 {
    font-size: 1.2em;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
}

/*END FOOTER*/