<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/navigationBar.css">
    <link rel="stylesheet" type="text/css" href="/style/styleSnackConfirm.css">
    <link rel="stylesheet" type="text/css" href="/style/styleCheckOut.css">
    <link rel="stylesheet" type="text/css" href="/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/style/body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    <title>The Curious Fork</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/images/logo.jpg" alt="">
                <h1 class="title">The Curious Fork</h1>
            </div>
            <div>
                <a class="signIn" href="signin.html">Sign in</a>
                <a href="aboutus.html">About Us</a>
                <div class="dropdown">
                    <button class="dropbtn">Menu <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="salads.html">Salads</a>
                        <a href="maincourse.html">Main Course</a>
                        <a href="desserts.html">Desserts</a>
                    </div>
                </div>
                <a href="homepage.html">Home</a>
            
            </div>
        </nav>
    </header>

    <div class="titleWrapper">
        <h1 class="welcomeTitle">Welcome to Checkout</h1>
    </div>

    <section class="mainSection">
        <div class="cartContent">
        </div>
        <div class="userData">
            <form action="/" method="post" class="userDataForm" id="userDataForm">
                <div class="inputBox">
                    <label for="">Full Name</label>
                    <input type="text" class="username" name="customerName"/>
                </div>
    
                <div class="inputBox">
                    <label for="">Email</label>
                    <input type="text" class="email" name="customerEmail" />
                </div>
                
                <div class="inputBox">
                    <label for="">Phone Number</label>
                    <input type="text" class="phoneNumber" name="customerPhoneNumber" />
                </div>
    
                <div class="column">
                    <div class="inputBox">
                        <label for="">Address</label>
                        <input type="text" class="address" name="customerAddress"/>
                    </div>
    
                    <div class="inputBox">
                        <label for="">No.</label>
                        <input type="text" class="addressNumber" name="customerAddressNumber"/>
                    </div>
                </div>
            </form>

        </div>
    </section>

    <div class="total">
        <h3 class="totalTitle">Total</h3>
        <h3 class="totalPrice">$0</h3>
    </div>

    <div class="buttonDiv">
        <button id="submitButton" class="submitButton">Order</button>
    </div>

    <div id="snackbar">Order placed!</div>

    <footer>
        <div class="footerContact">
            <h2>Contact:</h2>
            <ul>
                <li>Tel: (959) 411-4954</li>
                <li>Mobile phone: (959) 867-1917</li>
                <li>Address: 72 Morris Street, New York, NY 10016</li>
                <li>e-mail: info@curious.fork.com</li>
            </ul>
        </div>

        <div class="company">
            <h2>Copyright &copy; 2023, The Curious Fork. All rights reserved</h2>
        </div>
    </footer>

    <script src="/javascript/checkOutScript.js"></script>
    <script src="/javascript/cartGetUserData.js"></script>
    <script src="/javascript/placeOrderScript.js"></script>
</body>
</html>