<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/navigationBar.css">
    <link rel="stylesheet" type="text/css" href="/style/styleMainCourseMenu.css">
    <link rel="stylesheet" type="text/css" href="/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/style/body.css">
    <link rel="stylesheet" type="text/css" href="/style/cartStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    <title>The Curious Fork</title>
</head>
<body>

   
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/images/logo.jpg" alt="">
                <h1 class="title">The Curious Fork</h1>
            </div>
            <div>
                <a class="signIn" href="signin.html">Sign in</a>
                <div class="shopping">
                    <a id="cartIcon">
                        <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                        <span class="quantity hidden">0</span>
                    </a>
                </div>
                <div class="cart">
                    <div class="cartTitleContainer">
                        <h2 class="cartTitle">Your Cart</h2>
                    </div>
    
                    <!-- CONTENT  -->
                    <div class="cartContent">
    
    
                    </div>
    
                    <!-- TOTAL   -->
                    <div class="total">
                        <div class="totalTitle">Total</div>
                        <div class="totalPrice">$0</div>
                    </div>
                    <!-- BUY BUTTON  -->
                    <button type="button" class="btnBuy">Buy Now</button>
                    <!-- CART CLOSE  -->
                    <i class='bx bx-x' id="cartClose"></i>
                </div>
                <a href="aboutus.html">About Us</a>
                <div class="dropdown">
                    <button class="dropbtn">Menu <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="salads.html">Salads</a>
                        <a class="active" href="maincourse.html">Main Course</a>
                        <a href="desserts.html">Desserts</a>
                    </div>
                </div>
                <a href="homepage.html">Home</a>
            
            </div>
        </nav>
    </header>

    

    <div class="titleWrapper">
        <h1 class="welcomeTitle">Welcome To Our Main Course Menu</h1>
    </div>

   <section class="menu">

        <h3 class="sectionTitle">Steaks</h3>
        <hr class="goldenLine">

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/plate-steak-red-wine-sauce-mashed-vegetables.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Red wine steak</h3>
                <p>This dish is a celebration of the perfect marriage between premium meat and the rich, velvety embrace of red wine sauce. Savor every bite of this classic masterpiece</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$96.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/ribeye-steak-teriyaki-sauce-with-glass-burgundy.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Ribeye steak</h3>
                <p>Our chefs hand-select the finest, well-marbled ribeye. Then, we drizzle it with our signature teriyaki sauce, carefully crafted with a harmonious blend of soy, mirin, sugar, and exotic spices.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$95.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/rice-with-herbs-spices-mushroom-cream-sauce.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Creamy steak</h3>
                <p>Chefs start with a carefully selected cut of prime steak, then we artfully craft a creamy sauce.Our secret recipe blends rich cream, fragrant garlic, and a medley of herbs and spices.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$90.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/tenderloin-steak-with-snacks-sauces.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Tenderloin</h3>
                <p>Each tenderloin steak is meticulously seasoned and expertly grilled to your desired level of perfection, ensuring a mouthwatering sear on the outside while preserving the buttery tenderness within.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$94.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/tasty-grilled-steak-served-dark-closeup.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Wagyu steak</h3>
                <p>Indulge in the epitome of luxury with our Wagyu Steak, a culinary masterpiece that celebrates the extraordinary quality and unmatched flavor of Wagyu beef. At The Curious Fork, we source only the finest, most marbled Wagyu.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$155.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <h3 class="sectionTitle">Seafood</h3>
        <hr class="goldenLine">

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/plate-grilled-salmon-fillet-with-spices-green-salad-served-with-glass-italian-wine.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Grilled salmon</h3>
                <p>Our skilled chefs expertly grill each salmon fillet to perfection, infusing it with a smoky, charred aroma that perfectly complements the salmon's natural richness. The result is a succulent and flaky salmon that effortlessly flakes apart with each forkful.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$80.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/pexels-rajesh-tp-2098143.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Sushi</h3>
                <p>Savor the delicate balance of flavors and textures as our skilled sushi chefs craft each roll with meticulous care. Whether you're a fan of traditional favorites like the California Roll or daringly inventive specialties like the Dragon Roll, our sushi menu offers an array of options to delight every palate.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$88.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/pexels-huzaifa-bukhari-16845597.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Shrimps with sauce</h3>
                <p>Our shrimp are sautéed to perfection, resulting in a delicate, tender texture that allows their natural sweetness to shine. The crowning glory of this dish is our exquisite white sauce, a symphony of flavors that harmonizes the richness of cream with fragrant garlic.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$50.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/top-view-black-shrimp-pasta-arrangement-plate.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Shrimp pasta</h3>
                <p>The shrimp are elegantly combined with al dente pasta, creating a harmonious balance between the tender seafood and the comforting embrace of pasta. To elevate this creation further, our chefs generously coat it in a luscious, flavorful sauce.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$55.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <h3 class="sectionTitle">Chicken</h3>
        <hr class="goldenLine">

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/penne-pasta-with-cream-cheese-sauteed-vegetables (1).jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Chicken penne pasta</h3>
                <p>Our culinary artisans begin with pieces of tender chicken, marinated to infuse every bite with savory goodness. These juicy chicken morsels are then lovingly sautéed to perfection, ensuring a golden sear and a juicy interior. The star of the show is our al dente penne pasta, cooked to perfection and combined with the sautéed chicken.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$60.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/shish-kebab-with-chicken-fillet-rice-garnish-accompaned-by-glass-white-wine.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Chicken shish kebab</h3>
                <p>Starting with the finest cuts of chicken, our chefs marinate them in a harmonious blend of Mediterranean spices, garlic, and olive oil. Each succulent piece is then meticulously skewered alongside vibrant, fresh vegetables, creating a visually appealing and aromatic masterpiece.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$65.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/meat-vegetables-black-pot-black-surface.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Fruit chicken</h3>
                <p>Our chefs start with tender, marinated chicken breasts, ensuring each bite is juicy and flavorful. These perfectly grilled chicken breasts are then artfully paired with a medley of fresh, seasonal fruits, creating a vibrant and visually stunning dish.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$70.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>

        <h3 class="sectionTitle">Lamb</h3>
        <hr class="goldenLine">

        <div class="container">
            <div class="leftSection"><img class="productImage" src="/images/food/meat-ribs-sauce-with-baked-potatoes-broccoli.jpg" alt=""></div>
            <div class="rightSection">
                <h3 class="dishTitle">Lamb chopsticks</h3>
                <p>We start with the finest cuts of lamb, expertly marinated in a blend of Mediterranean herbs and spices that infuse each chop with a burst of flavor. These exquisite chops are then grilled to achieve the perfect char on the outside while retaining their irresistible tenderness inside.</p>
            </div>
            <div class="priceAndOrder">
                <h3 class="price">$65.99</h3>
                <button class="addCart">Order Now</button>
            </div>
        </div>
   </section>

    <footer>
        <div class="footerContact">
            <h2>Contact:</h2>
            <ul>
                <li>Tel: (959) 411-4954</li>
                <li>Mobile phone: (959) 867-1917</li>
                <li>Address: 72 Morris Street, New York, NY 10016</li>
                <li>e-mail: info@curious.fork.com</li>
            </ul>
        </div>

        <div class="company">
            <h2>Copyright &copy; 2023, The Curious Fork. All rights reserved</h2>
        </div>
    </footer>

    <script src="/javascript/cartScript.js"></script>
    <script src="/javascript/pageModificationsScript.js"></script>
</body>
</html>