<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/navigationBar.css">
    <link rel="stylesheet" type="text/css" href="/style/styleProducts.css">
    <link rel="stylesheet" type="text/css" href="/style/styleSearchBar.css">
    <link rel="stylesheet" type="text/css" href="/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/style/cartStyle.css">
    <link rel="stylesheet" type="text/css" href="/style/body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>The Curious Fork</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/images/logo.jpg" alt="">
                <h1 class="title">The Curious Fork</h1>
            </div>
            <div>
                <a class="signIn" href="signin.html">Sign in</a>
                <div class="shopping">
                    <a id="cartIcon">
                        <i class="fa fa-shopping-cart" style="font-size:20px"></i>
                        <span class="quantity hidden">0</span>
                    </a>
                </div>
                <div class="cart">
                    <div class="cartTitleContainer">
                        <h2 class="cartTitle">Your Cart</h2>
                    </div>
    
                    <!-- CONTENT  -->
                    <div class="cartContent">
    
    
                    </div>
    
                    <!-- TOTAL   -->
                    <div class="total">
                        <div class="totalTitle">Total</div>
                        <div class="totalPrice">$0</div>
                    </div>
                    <!-- BUY BUTTON  -->
                    <button type="button" class="btnBuy">Buy Now</button>
                    <!-- CART CLOSE  -->
                    <i class='bx bx-x' id="cartClose"></i>
                </div>
                <a href="aboutus.html">About Us</a>
                <div class="dropdown">
                    <button class="dropbtn">Menu <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="salads.html">Salads</a>
                        <a href="maincourse.html">Main Course</a>
                        <a href="desserts.html">Desserts</a>
                    </div>
                </div>
                <a href="homepage.html">Home</a>
            
            </div>
        </nav>
    </header>

    <section class="mainSection">
        <div class="container">
            <form action="" method="post" class="productAddForm" id="productForm">
                <label class="selectMeal" for="">Select Meal</label>
                <div class="selectBox">
                    <select name="mealType" id="mealType">
                        <option value="Main Course">Main Course</option>
                        <option value="Salad">Salad</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </div>
    
                <div class="column">
                    <div class="textSearch">
                        <input type="text" id="titleFromSearch" enctype="multipart/form-data" name="titleFromSearch" placeholder="Enter meal name" />
                    </div>
    
                    <div class="searchButton">
                        <input type="submit" value="Search">
                    </div>
                </div>

                <div class="inputBox">
                    <label for="">Title</label>
                    <input id="titleField" type="text" name="titleField"/>
                </div>

                <div class="inputBox">
                    <label for="">Description</label>
                    <input id="description" type="text" name="description"/>
                </div>

                <div class="inputBox">
                    <label for="">Price</label>
                    <input id="price" type="text" name="price"/>
                </div>

                <div class="pictureInput">
                    <div class="pictureDiv">
                        <label for="">Choose Picture</label>
                        <input id="image" type="file" name="image"/>
                    </div>
                    <div class="pictureDiv">
                        <img id="imagePreview" src="#" alt="Preview">
                    </div>
                </div>
    
                <div class="rowButton">
                    <input type="submit" value="Save Product">
                </div>
            </form>    
        </div>
       </section>

       <div class="successWrapper">
            <div id="successMessage" class="successMessage">
                <p class="successMessageText"></p>
            </div>
        </div>

    <footer>
        <div class="footerContact">
            <h2>Contact:</h2>
            <ul>
                <li>Tel: (959) 411-4954</li>
                <li>Mobile phone: (959) 867-1917</li>
                <li>Address: 72 Morris Street, New York, NY 10016</li>
                <li>e-mail: info@curious.fork.com</li>
            </ul>
        </div>

        <div class="company">
            <h2>Copyright &copy; 2023, The Curious Fork. All rights reserved</h2>
        </div>
    </footer>

    <script src="/javascript/cartScript.js"></script>
    <script src="/javascript/pageModificationsScript.js"></script>
    <script src="/javascript/imagePreviewScript.js"></script>
    <script src="/javascript/updateProductScript.js"></script>

</body>
</html>