* {
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/*BEGINNING OF PHOTO SLIDER*/

.photoCarusel {
    width: 100%;
    position: relative;
    margin-bottom: 2%;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*END OF PHOTO SLIDER*/

hr {
    width:90%;
    text-align:center;
    height: 2px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(182, 154, 27)));
    border: none;
}

/*MIDDLE SECTION*/

.middleSection {
    margin-top: 2%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2%;
}

.left img {
    max-width: 100%;
    max-height: 100%;
}

.right {
    flex: 2;
    padding: 0;
    margin: 0;
}

.right h1 {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 5em;
}

@media  screen and (max-width: 649px) {
    .right h1 {
        font-size: 2em;
    }
}
/*END MIDDLE SECTION*/

/*BEGINNING LOWER SECTION*/

.lowerSection {
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.lowerLeft {
    flex: 2;
    padding: 0;
    margin: 0;
}

.lowerLeft h1 {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translateX(+50%);
    text-align: center;
    color: white;
    font-size: 5em;
}

.lowerRight {
    flex: 1;
}

.lowerRight img {
    max-width: 100%;
    max-height: 100%;
}

@media  screen and (max-width: 649px) {
    .lowerLeft h1 {
        font-size: 2em;
    }
}

/*END LOWER SECTION*/